**/*.iml
**/*.swo
**/*.swp
**/.idea/tasks.xml
**/.idea/workspace.xml

*.egg-info
*.eml
*.iml
*.userlibraries

.*
.DS_Store**
.classpath**
.gradle
.idea
.idea/
.idea/**
.project**

/bin
/bin/
/build/
/build/classes/
/build/generated/
/build/kotlin/
/build/kotlin/sessions/
/build/libs/
/build/tmp/
/out/

Emulator/**/*.class
Emulator/.gradle/
Emulator/build/
Emulator/data/eco/bot_offers.json
Emulator/data/eco/grand_exchange_db.emp
Emulator/data/eco/grandexchange.db
Emulator/data/global_kill_stats.json
Emulator/data/serverstore/*
Emulator/data/logs/*
Emulator/ge_test.db
Emulator/gradle/
Emulator/hasRan.txt
Emulator/latestdump.txt
Emulator/target/*

__pycache__/

bin/
bin/**
build/kotlin/sessions/
builddir
credentials.json
data/eco/offer_dispatch_db.emp
data/logs/**
data/players/**
data/playerstats/**
data/profile/**
docker
gradle
include/
lib/
lib64
logs
out/
out/**
pyvenv.cfg
share/
logs.txt
Tools/cache_location.txt