**/*.iml
**/*.swo
**/*.swp
**/.idea/tasks.xml
**/.idea/workspace.xml

*.egg-info
*.eml
*.iml
*.userlibraries

.*
.DS_Store**
.classpath**
.gradle
.idea
.idea/
.idea/**
.project**

/bin
/bin/
/build/
/build/classes/
/build/generated/
/build/kotlin/
/build/kotlin/sessions/
/build/libs/
/build/tmp/
/out/

Server/**/*.class
Server/.gradle/
Server/build/
Server/data/eco/bot_offers.json
Server/data/eco/grand_exchange_db.emp
Server/data/eco/grandexchange.db
Server/data/global_kill_stats.json
Server/data/serverstore/*
Server/data/logs/*
Server/ge_test.db
Server/gradle/
Server/hasRan.txt
Server/latestdump.txt
Server/target/*

Tools/settings.json
Tools/*
/Tools/data/*
settings.json

__pycache__/

bin/
bin/**
build/kotlin/sessions/
builddir
credentials.json
data/eco/offer_dispatch_db.emp
data/logs/**
data/players/**
data/playerstats/**
data/profile/**
docker
gradle
include/
lib/
lib64
logs
out/
out/**
pyvenv.cfg
share/
logs.txt
Tools/cache_location.txt

nullmain_file_cache.dat2
nullmain_file_cache.idx255

Constants/target/**