**/*.iml
**/*.swo
**/*.swp
**/.idea/tasks.xml
**/.idea/workspace.xml

*.egg-info
*.eml
*.iml
*.userlibraries

.*
.DS_Store**
.classpath**
.gradle
.idea
.idea/
.idea/**
.project**

/bin
/bin/
/build/
/build/classes/
/build/generated/
/build/kotlin/
/build/kotlin/sessions/
/build/libs/
/build/tmp/
/out/

server/**/*.class
server/.gradle/
server/build/
server/data/eco/bot_offers.json
server/data/eco/grand_exchange_db.emp
server/data/eco/grandexchange.db
server/data/global_kill_stats.json
server/data/serverstore/*
server/data/logs/*
server/ge_test.db
server/gradle/
server/hasRan.txt
server/latestdump.txt
server/target/*

__pycache__/

bin/
bin/**
build/kotlin/sessions/
builddir
credentials.json
data/eco/offer_dispatch_db.emp
data/logs/**
data/players/**
data/playerstats/**
data/profile/**
docker
gradle
include/
lib/
lib64
logs
out/
out/**
pyvenv.cfg
share/
logs.txt
tools/cache_location.txt

nullmain_file_cache.dat2
nullmain_file_cache.idx255