*.eml
*.iml
*.userlibraries

.DS_Store**
.classpath**
.idea/**
.project**

/bin
/bin/
/build/
/build/classes/
/build/generated/
/build/kotlin/
/build/kotlin/sessions/
/build/libs/
/build/tmp/
/out/
/reports/
dumps/**

bin/**
data/eco/offer_dispatch_db.emp
data/logs/**
data/players/**
data/profile/**
out/**
/data/playerstats/player_stats.db