**/*.iml
**/*.swo
**/*.swp
**/.idea/tasks.xml
**/.idea/workspace.xml

*.egg-info
*.eml
*.iml
*.userlibraries

.*
.DS_Store**
.classpath**
.gradle
.idea
.idea/
.idea/**
.project**

/bin
/bin/
/build/
/build/classes/
/build/generated/
/build/kotlin/
/build/kotlin/sessions/
/build/libs/
/build/tmp/
/out/
target/Constants-1.0.0.jar
Constants/**/*.class
Constants/.gradle/
Constants/build/
Constants/target/*

__pycache__/

bin/
bin/**
build/kotlin/sessions/
builddir
credentials.json
docker
gradle
include/
lib/
lib64
logs
out/
out/**
pyvenv.cfg
share/
nullmain_file_cache.dat2
nullmain_file_cache.idx255
traget/**